rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function authorized() {
      return request.auth != null
        && request.auth.token.email in [
          "rickmarketing81@gmail.com",
          "vitoriajob02@gmail.com"
        ];
    }

    match /users/{userId} {
      allow read: if authorized();
      allow create, update: if authorized() && request.auth.uid == userId;
      allow delete: if false;
    }

    match /projects/{projectId} {
      allow read, create, update, delete: if authorized();
    }

    match /activity/{activityId} {
      allow read, create: if authorized();
      allow update, delete: if false;
    }

    match /workspace/{document=**} {
      allow read, write: if authorized();
    }
  }
}
